__pycache__
*.mp3
*.mp4
*.webm
*.mp3.part
*.webm.part
*.mp4.part
*import tkinter as tk.py
ffmpeg.exe
t1.py
t2.py
t3.py
YT.py
temp.py

.vscode
.vscode/settings.json
Chill & Vibe Music 1 Hour.webm.part-Frag3.part
Drive  Sidewalks and Skeletons - Goth  Edit.3gpp
